.time-container {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-main {
  font-family: Times New Roman;
  font-size: larger;
}

.stopwatch-btn {
  margin: 10px 30px;
  display: flex;
  gap: 10px;
}

.btn {
  width: 100px;
  height: 50px;
  background: rgba(15, 52, 83, 1);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: large;
}
